# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
venv/
env/
ENV/
.venv/
*.egg-info/
.eggs/

# Logs
*.log

# Environment variables
.env

# IDE files
.vscode/
.idea/
*.swp
